body {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

/************************HEADER*****************************/

header .nav-link {
  transition: all 0.3s ease-out;
}
header .nav-link:hover {
  background-color: hsla(348, 95%, 50%, 0.75);
  color: white;
}

header .navbar-brand img {
  width: 30px;
}

header .dropdown-item:hover {
  background-color: hsla(0, 0%, 0%, 0.31);
}

/************************general*************************/

.menu .background-MP {
  background-color: rgba(23, 23, 23, 0.634);
  width: 80%;
  height: 70vh;
}

/*********************menu Principal**********************/

#menuPrincipal {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/***************************postres**********************/
#postres {
  background-image: url(../img/fondopostre.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/**********************desayuno*************************/

#desayunos {
  background-image: url(../img/fondodesayuno1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/************************FOOTER************************/
#footer .footer_logo {
  width: 70px;
  opacity: 50%;
}

#footer li .secciones {
  list-style: none;
}
#footer .icono {
  width: 50px;
}

/**************Media Queries**********/

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  /*header*/

  header .nav-link:hover {
    background-color: transparent;
    color: hsla(348, 95%, 50%, 0.75) !important;
  }
  header .navbar-brand img {
    width: 40px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
