body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(0, 0, 0, 0.815);
}

/************HEADER***********/

header .nav-link {
  transition: all 0.3s ease-out;
}
header .nav-link:hover {
  background-color: hsla(348, 95%, 50%, 0.75);
  color: white;
}

header .navbar-brand img {
  width: 30px;
}

header .dropdown-item:hover {
  background-color: hsla(0, 0%, 0%, 0.31);
}

/*************HOME***********************/

#home {
  position: relative;
}

.background_home {
  background-image: url("../img/encabezado.jpg");
  height: 100vh;
  background-size: cover;
  filter: brightness(50%);
}
.home_text {
  position: absolute;
  top: 250px;
  color: white;
  font-size: 1rem;
}
#home h1 {
  font-weight: 800;
}
/*******NOVEDADES*************/

#novedades .card {
  background-color: rgba(0, 0, 0, 0.667);
  height: 18rem;
  width: 18rem;
  transition: all 0.3s ease-out;
}

#novedades .card:hover {
  color: hsla(348, 95%, 50%, 0.75);
  transform: scale(1.1);
}
#novedades .img_Card {
  height: 200px;
}
#novedades .icon_novedades {
  width: 25px;
  padding: 0;
}

/**************FOOTER****************/
#footer .footer_logo {
  width: 70px;
  opacity: 50%;
}

#footer li .secciones {
  list-style: none;
}
#footer .icono {
  width: 50px;
}

/**************Media Queries**********/

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  /*header*/

  header .nav-link:hover {
    background-color: transparent;
    color: hsla(348, 95%, 50%, 0.75) !important;
  }
  header .navbar-brand img {
    width: 40px;
  }
  /*home*/

  .home_text {
    top: 190px;
  }
}

@media (min-width: 1200px) {
  /*home*/
  .home_text {
    top: 210px;
  }
  .background_home {
    filter: none;
  }
}

@media (min-width: 1400px) {
}
