<div class="container" style="margin-top:2rem; height:100vh;">
    <div class="row">
        <div class="col">
            <p class="d-flex justify-content-end align-items-center">
                <span class="text-white me-3">Hola {{persona}}! </span>
                <a href="/admin/login/logout" class="btn btn-danger">cerrar sesion <i class="bi bi-box-arrow-right"></i></a>
            </p>
        </div>
    </div>

</div>