<section class="error">
    <div class="d-flex align-items-center justify-content-center flex-wrap mx-2 mb-5 pb-4">
        <img class="img_error" src="images/error.svg" alt="error" />
        <p class="text-white text-center py-3 display-5">Sorry, we can't find this
            page</p>
    </div>

</section>