
   <!--*****HOME*****-->

    <section class="container-fluid scroll_section" id="home">
        <div class="row mb-4">
            <div class="background_home d-flex align-items-center justify-content-center">
                <div data-aos="zoom-in"   class=" text_home text-center text-white ">

                    <h1 class="display-1 fw-bold ">Delicius Food</h1>
                    <p class="fs-4 fw-light ">
                        No es solo comida, es una experiencia.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!--****NOVEDADES*****-->
    <section class="container scroll_section" id="novedades">
        <div  data-aos="zoom-in"  data-aos-duration="1000" class="row text-light my-5">
            <h2 class="fs-1 text-center">Novedades del mes</h2>
            <hr>
            <div class="d-flex flex-wrap justify-content-evenly my-5">
                <!--card1-->
                <a class="text-white text-decoration-none" href="/novedades#menuPrincipal" target="_blank">
                    <div class="card mb-4">
                        <img src="images/food.jpg" class="img_Card card-img-top" alt="Menu Principal" />
                        <div class="card-body">
                            <p class="card-text text-center fs-5">
                                <img class="icon_novedades" src="images/IconoMP.png" alt="" />
                                Menu Principal
                            </p>
                        </div>
                    </div>
                </a>
                <!--card2-->
                <a class="text-white text-decoration-none" href="/novedades#postres" target="_blank">
                    <div class="card mb-4">
                        <img src="images/postre.jpg" class="img_Card card-img-top" alt="Postres" />
                        <div class="card-body">
                            <p class="card-text text-center fs-5">
                                <img class="icon_novedades" src="images/IconoMP.png" alt="" />
                                Postres
                            </p>
                        </div>
                    </div>
                </a>
                <!--card3-->
                <a class="text-white text-decoration-none" href="novedades/#desayunos" target="_blank">
                    <div class="card mb-4">
                        <img src="images/desayuno.jpg" class="img_Card card-img-top" alt="Desayunos" />
                        <div class="card-body">
                            <p class="card-text text-center fs-5">
                                <img class="icon_novedades" src="images/IconoMP.png" alt="" />Desayunos
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!--*****HISTORIA******-->
    <section class="container-fluid scroll_section" id="historia">
        <div  class=" contenedor row d-flex align-items-center  mb-3">
            <div  data-aos="zoom-in"  data-aos-duration="1000" class="offset-lg-2 col-lg-4 col-md-5 offset-md-1 offset-sm-2 col-10  offset-1  ">
                <img class=" imagen img-fluid " src="images/historia.jpg" alt="historia">
            </div>
            <div  data-aos="zoom-in"  data-aos-duration="1000" class="text-white col-lg-4 col-md-5 offset-sm-2 col-sm-8 offset-2 offset-md-0 col-9 mt-0  ">
                <h2 class="display-6">Nuestra Historia</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem sed ea quis voluptates amet ratione
                    autem deserunt molestias eum veniam expedita.

                </p>
            </div>

        </div>
    </section>
    <!--NOSOTROS-->
    <section class="container scroll_section" id="nosotros">
        <div     class="row my-5 text-white">
            <h2 class="text-center fs-1 ">Conoce nuestro equipo</h2>
            <hr>
            <div data-aos="zoom-in" class=" contenedor_target d-flex flex-wrap justify-content-evenly align-items-center mt-4">
                <!-- target1-->
                <div class="card me-2">
                    <img class="imagen-nosotros img-fluid" src="images/nosotros1.jpg" class="card-img-top"
                        alt="nosotros">
                    <div class="card-body">
                        <p class="card-text">
                        <p class="fw-bold">Alice Smith</p><span class="text-profesion">Gerente.</span></p>
                    </div>

                </div>
                <!--target2-->
                <div class="card me-2">
                    <img class=" imagen-nosotros img-fluid" src="images/nosotros2.jpg" class="card-img-top" alt="nosotros">
                    <div class="card-body">
                        <p class="card-text">
                        <p class=" fw-bold">Mark Ericson</p><span class="text-profesion">Pastelero.</span></p>
                    </div>

                </div>
                <!--target3-->
                <div class="card me-2">
                    <img class="  imagen-nosotros img-fluid" src="images/nosotros3.jpg" class="card-img-top"
                        alt="nosotros">
                    <div class="card-body">
                        <p class="card-text">
                        <p class=" fw-bold">Damian Flatcher</p><span class="text-profesion">Chef.</span></p>
                    </div>

                </div>
                <!--target4-->
                <div class="card me-2">
                    <img class="  imagen-nosotros img-fluid" src="images/nosotros4.jpg" class="card-img-top"
                        alt="nosotros">
                    <div class="card-body">
                        <p class="card-text">
                        <p class=" fw-bold">Jesica Lopez</p><span class="text-profesion">Chef.</span></p>
                    </div>

                </div>


            </div>
        </div>

    </section>
    <!--visitanos-->
    <section id="visitanos" class="container-fluid scroll_section ">
        <div class=" visitanos row mt-4  text-white d-flex align-items-center ">
            <div
                class="  col-10 offset-1 col-sm-8 offset-sm-2 col-md-6  offset-md-2  col-lg-6  offset-lg-0 col-xl-4 offset-xl-1">
                <h2 class="fs-2 mt-4">Visitanos</h2>

                <div  data-aos="zoom-in"   class="mapa ">
                    <iframe class="mx-auto"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2192342901953!2d-58.422682524458565!3d-34.59861737295608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses-419!2sar!4v1684785392013!5m2!1ses-419!2sar"></iframe>
                </div>
            </div>
            <!--contactanos-->
            <div  data-aos="zoom-in"  data-aos-duration="1000"
                class=" mt-4 col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-2 col-lg-5 offset-lg-0 offset-xl-1 ">
                <h2 class="fs-2">Contactanos</h2>
                <form action="/" method="post">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" name="nombre" class="form-control col-12" id="formGroupExampleInput" placeholder="Nombre" required>
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" name="apellido" class="form-control col-12" id="formGroupExampleInput2" placeholder="Apellido">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="email" name="email" class="form-control col-12" id="formGroupExampleInput2" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea  name="comentario" class="form-control col-12" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Mensaje..."></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-danger">Enviar</button>
                </div>
                </form>
                <p> {{message}}</p>


            </div>




        </div>
    </section>
    