<main class="container-fluid">
        <!--Menu principal-->
        <section class="menu row mt-5 gy-5 text-white mb-0 pt-5" id="menuPrincipal">
            <div data-aos="zoom-in" class="background-MP mx-auto">
                <h2 class="text-center fs-1 m-4">Menu Principal</h2>
                <hr />
                <div class="texto_comida col-lg-5 d-inline text-lg-center">
                    <div class=" comida mb-lg-5">
                        <h4>Food name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum.</p>
                        <p>$</p>

                    </div>
                    <div class=" comida mb-lg-5">
                        <h4>Food name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum.</p>
                        <p>$</p>

                    </div>
                    <div class=" comida mb-lg-5">
                        <h4>Food name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum.</p>
                        <p>$</p>

                    </div>
                </div>




            </div>
        </section>
        <!--postres-->
        <section class="menu row my-5 gy-5 text-white mt-0 mb-0 pt-5" id="postres">
            <div  data-aos="zoom-in" class="background-MP mx-auto">
                <h2 class="text-center fs-1 m-4">Postres</h2>
                <hr />
                <div class="texto_comida col-lg-5 d-inline text-lg-center">
                    <div class=" comida mb-lg-5">
                        <h4>Food name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum.</p>
                        <p>$</p>

                    </div>
                    <div class=" comida mb-lg-5">
                        <h4>Food name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum.</p>
                        <p>$</p>

                    </div>
                    <div class=" comida mb-lg-5">
                        <h4>Food name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum.</p>
                        <p>$</p>

                    </div>
                </div>
            </div>
        </section>
        <!--desayunos-->
        <section class="menu row my-5 gy-5 text-white mt-0 mb-0 pt-5" id="desayunos">
            <div data-aos="zoom-in" class="background-MP mx-auto">
                <h2 class="text-center fs-1 m-4">Desayunos</h2>
                <hr />
                <div class="texto_comida col-lg-5 d-inline text-lg-center">
                    <div class=" comida mb-lg-5">
                        <h4>Food name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum.</p>
                        <p>$</p>

                    </div>
                    <div class=" comida mb-lg-5">
                        <h4>Food name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum.</p>
                        <p>$</p>

                    </div>
                    <div class=" comida mb-lg-5">
                        <h4>Food name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum.</p>
                        <p>$</p>

                    </div>
                </div>



            </div>
            </div>
        </section>
    </main>
